<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>系统登录 - 梦学谷账单管理系统</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body class="login_bg">
    <section class="loginBox">
        <header class="loginHeader">
            <h1>梦学谷账单管理系统</h1>
        </header>
        <section class="loginCont">
			<div style="color:red; margin-left: 130px" th:text="${msg}">用户名错误！</div>
            <form class="loginForm" th:method="post" th:id="loginForm" th:action="@{/user/login}">
				
                <div class="inputbox">
                    <label for="user">用户名</label>
                    <input id="user" type="text" name="username"  required/>
                </div>
                <div class="inputbox">
                    <label for="mima">密码</label>
                    <input id="mima" type="password" name="password"  required/>
                </div>
				<div class="subBtn">
						<input type="checkbox"> 记住密码
                </div>
				<br/>
                <div class="subBtn">
                    <input type="submit" value="登录" onclick="$('#loginForm').submit()"/>
                    <input type="reset" value="重置"/>
                </div>
				<br/>
				<div style="margin-left: 100px;">
                    <a href="#">中文</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="">English</a>
                </div>
            </form>
        </section>
    </section>
</body>
</html>