<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>梦学谷账单管理系统</title>
<link rel="stylesheet" href="/css/public.css"/>
<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--主体内容-->
<section class="publicMian">
    <div class="left" th:replace="main/public :: #public_left">
    </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>密码修改页面</span>
            </div>
            <div class="providerAdd">
                <form id="pwdForm" action="/user/changePassword"  method="post">
                    <!--div的class 为error是验证错误，ok是验证成功-->
                    <div class="">
                        <label for="oldPassword">旧密码：</label>
                        <input type="password"  id="oldPassword" autofocus="autofocus" required/>
                        <span id="pwdText">*请输入原密码</span>
                    </div>
                    <div>
                        <label for="newPassword">新密码：</label>
                        <input type="password"  id="newPassword" required/>
                        <span id="newPwdText">*请输入新密码</span>
                    </div>
                    <div>
                        <label for="reNewPassword">确认新密码：</label>
                        <input type="password"  name="password" id="reNewPassword" required/>
                        <span id="reNewPwdText" >*请输入新确认密码，保证和新密码一致</span>
                    </div>
                    <div class="providerAddBtn">
                        <!--<a href="#">保存</a>-->
                        <input type="button" value="保存" id="save"/>
                    </div>
                </form>
            </div>
        </div>
    </section>

<footer class="footer"><div style="text-align:center;">	<p><a href="http://www.mengxuegu.com/" target="_blank">梦学谷 www.mengxuegu.com</a> 版权所有</p></div></footer>
<script th:src="@{/js/jquery.js}"></script>
<script>
    var checkPassword = false;

    $('#oldPassword').blur(function () {
        $.ajax({
            type:'post',
            url:'/user/checkPassword',
            data:{
                password:$('#oldPassword').val()
            },
            dataType:'json',
            success:function (data) {
                checkPassword = data;
            }
        })

    });

    $('#save').click(function () {
        debugger
        var newPassword = $('#newPassword').val();
        var reNewPassword = $('#reNewPassword').val();
        if(checkPassword==false){
            alert("原密码输入错误");
        }else if(newPassword!=reNewPassword){
            alert("两次密码输入不一致")
        }else {
            $('#pwdForm').submit();
        }
    })


</script>
</body>
</html>