<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>梦学谷账单管理系统</title>
    <link rel="stylesheet" th:href="@{/css/public.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--主体内容-->
<section class="publicMian">
    <div class="left" th:replace="main/public :: #public_left">
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>供应商管理页面 >> 供应商修改页</span>
        </div>
        <div class="providerAdd">
            <form th:action="@{/provider/save}" th:method="post" id="providerUpdate">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <input type="hidden" th:name="id" th:value="${provider.id}"></input>
                <input type="hidden" th:name="providerCode" th:value="${provider.providerCode}"></input>

                <div class="">
                    <label for="providerName">供应商名称：</label>
                    <input type="text" name="providerName" th:value="${provider.providerName}" id="providerName" placeholder="测试供应商001"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="people">联系人：</label>
                    <input type="text" name="people"th:value="${provider.people}" id="people" placeholder="韩露"/>
                    <span>*</span>

                </div>
                <div>
                    <label for="phone">联系电话：</label>
                    <input type="text" name="phone" th:value="${provider.phone}" id="phone" placeholder="15918230478"/>
                    <span></span>
                </div>
                <div>
                    <label for="address">联系地址：</label>
                    <input type="text" name="address"  th:value="${provider.address}" id="address" placeholder="北京"/>
                    <span></span>

                </div>
                <div>
                    <label for="fax">传真：</label>
                    <input type="text" name="fax" th:value="${provider.fax}" id="fax" placeholder="15918230478"/>
                    <span></span>

                </div>
                <div>
                    <label for="describe">描述：</label>
                    <input type="text" name="des" th:value="${provider.des}" id="describe" placeholder="描述"/>
                    <span></span>

                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="providerList.html">返回</a>-->
                    <input type="button" value="保存" onclick="$('#providerUpdate').submit()"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer" th:replace="main/public :: #public_footer"></footer>
<script th:src="@{/js/jquery.js}"></script>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>